.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 8px
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 8px
}

.getApp {
  background-color: #ff3c6e !important;
  border-radius: 61px !important;
  color: white !important;
  font-size: 16px !important;
}